
.section, .education, .experience, .highlights {
    color: red;
     border: 1px solid #bbb;
     box-shadow: 1px 1px 0 #ddd;
     margin: 0 0 10px;
     padding: 15px;
}

.highlights {
  background-color: black;
}

.experience {
  background-color: yellow;
}

.education {
  background-color: orange;
}
<!--mobile responsive -->

@media screen and (max-width: 799px) {
  .box{
      background-color: green;
  }
 }

.row::after {
  content: "";
  clear: both;
  display: table;
}
<!--id selector -->
#aside {
  background-color: red;
  padding: 15px;
  color: #ffffff;
  font-size: 12x;

}
.menu {
  padding: 3px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
}

body{
    background-color: lightblue;
}
table{
    border-collapse: collapse;
}
table,td{
    border: 1px solid black;
}
td{
    padding: 10px;
}

div{
    font-size: 20px;
    ul li{
        font: italic 20px Georgia, sherif;
    }
}

::marker {
  color: blue;
}




a:hover {
  background-color: Gray;
}
b:active {
  background-color: red;
}
